* {
	font-size: 1.1rem;
	font-family: Verdana, sans-serif;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-areas:
		"dashboard header"
		"dashboard main";
}

.header {
	grid-area: header;
	background-color: #fff;
}

.main-bar {
	padding: 2rem;
	display: grid;
	grid-template-columns: minmax(100px, 2fr) minmax(250px, 1fr);
	grid-auto-flow: column;
}

.main-bar input {
	width: 60%;
	background-color: #e2e8f0;
	border: none;
}

.search-bar-container {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50px minmax(200px, 1fr);
	align-content: center;
}

.search-bar-container input,
.search-bar-container label {
	padding: 0.2rem 1rem;
}

.search-bar-container input {
	border-radius: 1rem;
}

.profile-right-side {
	margin-left: auto;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 2rem;
}

.second-bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
}

.second-bar-left,
.second-bar-right {
	display: grid;
	grid-auto-flow: column;
}

.second-bar-left {
	grid-template-columns: 150px 1fr;
}

.second-bar-left img {
	justify-self: center;
}

.second-bar-right {
	align-items: center;
	justify-content: space-evenly;
}

.second-bar-right button {
	background-color: #0ea5e9;
	padding: 0.4rem 0.6rem;
	border-radius: 1rem;
	border: none;
	width: 120px;
	font-size: 1rem;
}

.dashboard {
	background-color: #0ea5e9;
	grid-area: dashboard;
	font-weight: bold;
}

.logo-box {
	height: 100px;
	display: flex;
	align-items: center;
}

.logo-box img {
	margin: 0 1rem;
}

.dashboard,
.dashboard a {
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
}

.dashboard img {
	fill: red;
}

.dashboard a:hover {
	color: white;
}

.dashboard ul {
	margin-bottom: 3rem;
}

.dashboard li {
	list-style: none;
	margin-bottom: 1rem;
}

.main {
	background-color: #e2e8f0;
	grid-area: main;
	gap: 1rem;
	padding: 1rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		"projects announcement"
		"projects trending";
}

.projects {
	grid-area: projects;
}

.cards {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card,
.announcement-card,
.trending {
	background-color: #fff;
	border-radius: 1rem;
	padding: 1rem;
}

.card {
	border-left: 10px solid #f0b429;
}

.announcement {
	grid-area: announcement;
}

.announcement-card > div {
	border-bottom: 1px solid rgba(128, 128, 128, 0.253);
	margin-bottom: 1rem;
}

.announcement-card > div:last-child {
	border-bottom: none;
}

.announcement-card p {
	font-size: 0.7rem;
	padding: 1rem;
}

.trending {
	grid-area: trending;
}

.avatar,
.avatar-big {
	border-radius: 50%;
}

.avatar {
	width: 40px;
}

.avatar-big {
	width: 75px;
}
